  <div class="form-inline">
    <%= form_with model: List.new do |f| %>
      <%= f.text_field :title, class: "form-control",
                            placeholder: "Enter new list name", required: true %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
