<div class="row p-3 px-md-2">
  <div class="col-lg-2">
    <%= form_with model: List.new do |f| %>
      <div class="form-group">
        <%= f.label "Enter new list name" %><br>
        <%= f.text_field :title, class: "form-control", required: true %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>
